body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.red-color{
    color: red;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(yellow,red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
footer {
    text-align: justify;
    padding: 5%;
    width: 50%;
    

}
.mission{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px ;
    box-shadow: 10px 10px 50px yellow;
    background-image: url(images/illustrators/illustrator-3.png);
    background-size: auto;
    text-align: center;
}
.vision{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px ;
    box-shadow: 10px 10px 50px yellow;
    background-size: auto;
    background-image: url(images/illustrators/illustrator-1.png);
    text-align: center;
}
.goal{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px ;
    box-shadow: 10px 10px 50px yellow;
    background-size: auto;
    background-image: url(images/illustrators/illustrator-2.png);
    text-align: center;
    background-repeat: no-repeat;
    
}
.flexible-container{
    display: flex;
    margin: bottom 150px;
}
footer{
    text-align: center;
}